---

- name: Create Namespaces
  k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('template', item) }}"
  with_items:
  - eo-namespace.yaml
  - clo-namespace.yaml

- name: Create Operator Group
  k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('file', 'eo-og.yaml') }}"

- name: Get available ES channels
  k8s_facts:
    kubeconfig: "{{ kubeconfig }}"
    name: "elasticsearch-operator"
    kind: "PackageManifest"
    namespace: "openshift-marketplace"
  register: es_manifest
  when: es_channel is not defined

- name: set local var
  set_fact:
     es_channel: "{{ es_manifest.resources[0].status.defaultChannel }}"
  when: es_channel is not defined
#- name: Subscribing on channel {{ es_channel }}
# K8s module does not handle generateName correctly, so we use oc client
#  k8s:
#    kubeconfig: "{{ kubeconfig }}"
#    state: present
#    definition: "{{ lookup('template', 'eo-sub.yaml') }}"
#
- name: Upload file
  template:
    src: eo-sub.yaml
    dest: /tmp/eo-sub.yaml
    mode: '0600'

- name: Subscribing ES on channel {{ es_channel }}
  shell:
    cmd: KUBECONFIG={{ kubeconfig }} {{ oc_exec }} create -f /tmp/eo-sub.yaml

- name: Create RBAC
  k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('file', 'eo-rbac.yaml') }}"

- name: Create CLO-OperatorGroup
  k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('file', 'clo-og.yaml') }}"

- name: Get available CLO channels
  k8s_facts:
    kubeconfig: "{{ kubeconfig }}"
    name: "cluster-logging"
    kind: "PackageManifest"
    namespace: "openshift-marketplace"
  register: clo_manifest
  when: clo_channel is not defined

- name: set local var
  set_fact:
     clo_channel: "{{ clo_manifest.resources[0].status.defaultChannel }}"
  when: clo_channel is not defined

- name: Create CLO-Subscription on channel {{ clo_channel }}
  k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('template', 'clo-sub.yaml') }}"
